.wrapper {
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.07);
  height: 430px;
  width: 800px;


  .container {
    width: max(90%);
    padding-top: 15px;


  }

  .info_header {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    margin-top: 21px;


    .description_text {
      margin-right: 34px;
      margin-left: 10px;
      cursor: pointer;
      padding-bottom: 10px;
    }

    .active {
      color: #ED7117;
      border-bottom: 2px solid #ED7117
    }
  }


}
.info_block{
  margin-top: 25px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 11px;
  line-height: 15px;
}
