$colorLightPrimary                : #FFFFFF;
$colorLightSecondary              : #EDEEF0;
$colorLightThird                  : #CCCCCC;

$colorDarkPrimary                 : #121B22;
$colorDarkSecondary               : #444444;
$colorDarkThird                   : #495057;

$colorBluePrimary                 : #0098EF;
$colorBlueSecondary               : #28C0FF;

$colorGrayPrimary                 : #e8e9ec;

$colorYellowPrimary               : #E39A2D;
$colorYellowSecondary             : #FFBE58;

$colorGreenPrimary                : #448700;

$colorRedPrimary                  : #870000;

