$transitionDurationPrimary        : 0.2s;
$transitionDurationSecondary      : 0.5s;
$transitionFunctionPrimary        : ease-in-out;
$transitionFunctionSecondary      : cubic-bezier(.4,0,.2,1);

$borderRadiusPrimary              : 4px;
$borderRadiusSecondary            : 10px;

$mainFont: 'GTEestiProDisplay', Helvetica, sans-serif;
$secondFont: 'GTEestiProDisplay', Helvetica, sans-serif;


